include LICENSE
include README.md
include requirements.txt
include requirements.in

recursive-include src/frd_score/configs *.yaml

prune tests
prune docs
prune frd_env
prune __pycache__
global-exclude *.py[cod]
global-exclude *.csv
